layer-rule {
    match namespace="^noctalia-wallpaper"
    place-within-backdrop true
}

binds {
    Ctrl+Alt+Delete hotkey-overlay-title="Task Manager" { spawn "noctalia" "msg" "panel-toggle" "control-center" "system"; }
    Mod+M hotkey-overlay-title="Task Manager" { spawn "noctalia" "msg" "panel-toggle" "control-center" "system"; }
    Mod+N hotkey-overlay-title="Notification Center" { spawn "noctalia" "msg" "panel-toggle" "control-center" "notifications"; }
    Mod+V hotkey-overlay-title="Clipboard Manager" { spawn "noctalia" "msg" "panel-toggle" "clipboard"; }
    Mod+Y hotkey-overlay-title="Browse Wallpapers" { spawn "noctalia" "msg" "panel-toggle" "wallpaper"; }
    Super+A hotkey-overlay-title="Application Launcher" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Super+I hotkey-overlay-title="Settings" { spawn "noctalia" "msg" "settings-toggle"; }
    Super+L hotkey-overlay-title="Lock Screen" { spawn "noctalia" "msg" "session" "lock"; }
    Super+X hotkey-overlay-title="Power Menu: Toggle" { spawn "noctalia" "msg" "panel-toggle" "session"; }
    Super+space hotkey-overlay-title="Application Launcher" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioMicMute allow-when-locked=true { spawn "noctalia" "msg" "mic-mute"; }
    XF86AudioMute allow-when-locked=true { spawn "noctalia" "msg" "volume-mute"; }
    XF86AudioNext allow-when-locked=true { spawn "noctalia" "msg" "media" "next"; }
    XF86AudioPause allow-when-locked=true { spawn "noctalia" "msg" "media" "toggle"; }
    XF86AudioPlay allow-when-locked=true { spawn "noctalia" "msg" "media" "toggle"; }
    XF86AudioPrev allow-when-locked=true { spawn "noctalia" "msg" "media" "previous"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia" "msg" "brightness-down"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "noctalia" "msg" "brightness-up"; }
}
